<plugin
		id="com.vp.plugin.sample.layout"
		name="Layout Diagram"
		description="Layout Active Diagram"
		provider="Visual Paradigm"
		class="com.vp.plugin.sample.layout.LayoutPlugin">
	
	<actionSets>
  		<actionSet id="com.vp.plugin.sample.layout.actionset1">
			<toolbar
					id="com.vp.plugin.sample.layout.actionset1.toolbar1"
					orientation="north"
					index="last"/>
			
			<action
					id="com.vp.plugin.sample.layout.actionset1.LayoutAction"
					actionType="generalAction"
      		name="Layout Diagram"
		      description="Layout All Diagrams"
					style="normal"
          icon="icon/icon.png"
          tooltip="Layout All Diagrams"
					toolbarPath="com.vp.plugin.sample.layout.actionset1.toolbar1/#">
				<actionController class="com.vp.plugin.sample.layout.actions.LayoutActionControl"/>
			</action>
		</actionSet>

	</actionSets>	
</plugin>
